@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --prussian-blue: rgb(52, 69, 122);
  --deep-navy: #001c55;
  --imperial-blue: #0a2472;
  --cornflower-ocean: #0e6ba8;
  --frosted-blue: #a6e1fa;
  --ice-blue: #cbe4f9;
  --afterburner: #f97316;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-prussian-blue: var(--prussian-blue);
  --color-deep-navy: var(--deep-navy);
  --color-imperial-blue: var(--imperial-blue);
  --color-cornflower-ocean: var(--cornflower-ocean);
  --color-frosted-blue: var(--frosted-blue);
  --color-ice-blue: var(--ice-blue);
  --color-afterburner: var(--afterburner);
}

/* no overscroll */
html, body {
  overscroll-behavior-y: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: serif, var(--font-lustria), 'Times New Roman';
}

h1, h2, h3 {
  font-family: serif;
}

nav {
  font-family: 'Times New Roman', serif;
}



/* debug: remove when done */
/* border around all divs */
/* * { outline: 1px solid rgba(255, 0, 0, 0.2); } */
